/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;  
  width: 100vw;
  position: relative;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  cursor: url('../public/images/cursor.png') 39 39, auto;
}

.puzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.shuffle-button-container {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}


.tiles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tiles per row */
  gap: 5px;
}


.row {
  display: flex; 
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}


.tile.empty {
  background: transparent;
}

.about {
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
}
